---
import Main from '../layouts/Main.astro';
---

<Main title='Page Not Found' desription='error page not found'>
  <div class='flex items-center justify-center flex-col min-h-[500px]'>
    <h1 class='text-9xl'>404</h1>
    <p>Page Not Found</p>
  </div>
</Main>
