---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='h-full flex flex-col items-center justify-center'>
    <h1 class='text-9xl text-center text-zinc-700'>404</h1>
    <p class='text-3xl text-zinc-500'>Page not found</p>
  </div>
</Layout>
