---
import Main from '../layouts/Main.astro';
---

<Main
  title='👨About Me'
  description='alif faizar web developer base in tasikamaya, Indonesia'
>
  <h1 class='text-4xl lg:text-5xl font-bold'>About Me</h1>
  <div class='grid grid-cols-4 gap-5 space-y-5'>
    <div class='col-span-4 lg:col-span-3 space-y-3'>
      <p>
        Hello, my name Alif Faizar! I'm a web developer working as freelancer.
        Welcome to spot on website for projects I have created, blog I've
        written, and anything else I want to share. Check out{' '}
        <a href='/projects' class='text-cyan-600'> projects</a>{' '}
        page to see projects I've made, and{' '}
        <a href='/blog' class='text-cyan-600'> blog</a>{' '}
        page to see everything I've written.
      </p>
      <p>
        My site has no ads, no affiliate links, no tracking or analytics, and no
        sponsored posts. My only motivation for this site is to share what I've
        learned with the world and document notes for myself, and hopefully
        connect with a few people.
      </p>
      <h3 class='text-2xl lg:text-3xl text-gray-200 font-semibold'>Skills</h3>
      <ul>
        <li class='list-disc list-inside'>
          <span class='font-semibold text-gray-300 mr-2'> Languages:</span>
          JavaScript (Nodejs, ReactJs, ExpressJS, Astro, Vite), MongoDB, HTML, CSS
          (Tailwindcss), Bash.
        </li>
        <li class='list-disc list-inside'>
          <span class='font-semibold text-gray-300 mr-2'> Concepts:</span>
          Design Patterns (REST API Design, MVC), Databases (MongoDB), Authentication
          and Security (JWT), Linux, Version Control (Git).
        </li>
      </ul>
      <h3 class='text-2xl lg:text-3xl text-gray-200 font-semibold'>
        Tech Stack
      </h3>
      <ul>
        <li class='list-disc list-inside'>Astro & ReactJs</li>
        <li class='list-disc list-inside'>Vite (learning)</li>
        <li class='list-disc list-inside'>Tailwindcss</li>
        <li class='list-disc list-inside'>Express</li>
        <li class='list-disc list-inside'>MongoDB</li>
      </ul>
      <h3 class='text-2xl lg:text-3xl text-gray-200 font-semibold'>Tools</h3>
      <ul>
        <li class='list-disc list-inside'>IDE: Visual Studio Code</li>
        <li class='list-disc list-inside'>Local Env: WLS2 Ubuntu</li>
        <li class='list-disc list-inside'>Terminal: Bash</li>
        <li class='list-disc list-inside'>Version Control: Git</li>
      </ul>
    </div>
    <div
      class='col-span-4 lg:col-auto flex justify-center items-center lg:justify-start lg:items-start w-full'
    >
      <img
        src='/images/me.jpg'
        onerror={`this.src='/images/avatar.jpg'`}
        class='rounded'
      />
    </div>
  </div>
</Main>
