---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero'
import Portfolio from '../sections/Portfolio'
---

<Layout>
  <div class='min-h-full flex flex-col items-center justify-center w-full'>
    <Hero />
    <Portfolio />
  </div>
</Layout>
