---
import Tags from '../Tags.astro';

const data = (await Astro.glob('../../pages/blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
const projects = data.length > 8 ? data.slice(0, 8) : data;
---

<div class='space-y-5'>
  <div class='flex justify-between items-end'>
    <h2 class='text-3xl font-semibold text-gray-200'>Latest Posts</h2>
    <a class='text-cyan-600 hover:scale-110' href='/blog'>view all</a>
  </div>
  <div class='grid grid-cols-1 gap-3 lg:gap-5 lg:grid-cols-2'>
    {
      projects.map((project) => (
        <div class='bg-gray-800 rounded p-3 lg:p-5'>
          <a href={project.url} class='flex justify-between items-center'>
            <h3 class='text-2xl text-gray-200 font-medium'>
              {project.frontmatter.title}
            </h3>
            <time class='text-sm'>{project.frontmatter.pubDate}</time>
          </a>
          <Tags tags={project.frontmatter.tags} />
          <p class='line-clamp-2 lg:line-clamp-3 my-3'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolore
            ut, nobis minima veritatis ipsa quae fuga ad laborum, culpa placeat
            deleniti nam enim amet.
          </p>
        </div>
      ))
    }
  </div>
</div>
