---
const { heroTitle, heroTagline } = Astro.props.home;
---

<div
  class='w-full min-h-[550px] flex flex-col md:flex-row space-y-5 justify-center md:justify-between items-center'
>
  <div class='flex md:hidden'>
    <img
      src='/images/me.jpg'
      onerror={`this.src='/images/avatar.jpg'`}
      class='rounded-full w-48'
    />
  </div>
  <div class='w-8/12 md:w-6/12 text-center md:text-left'>
    <h1 class='text-4xl lg:text-5xl xl:text-6xl font-semibold text-gray-200'>
      {heroTitle}
    </h1>
    <p class='text-2xl'>{heroTagline}</p>
  </div>
  <div class='w-8/12 h-full hidden md:flex items-center justify-end'>
    <img
      src='/images/me.jpg'
      onerror={`this.src='/images/avatar.jpg'`}
      class='object-cover object-center w-56 lg:w-72 rounded'
    />
  </div>
</div>
