---
---

<div class='space-y-5'>
  <div class='flex justify-between items-end'>
    <h2 class='text-3xl font-semibold text-gray-200'>Projects</h2>
    <a href='' class='text-cyan-600 hover:scale-110'>view all</a>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5'>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
    <div class='bg-gray-800 rounded p-3 lg:p-5'>
      <date class='text-cyan-600 text-sm'>22 jan 2022</date>
      <h3 class='text-gray-200 text-2xl lg:text-3xl'>Projects title</h3>
      <p class='line-clamp-3'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo, ut
        alias libero beatae est repellendus earum odio ipsum labore distinctio
        incidunt possimus, qui, eligendi corporis modi repudiandae? Incidunt,
        quisquam.
      </p>
    </div>
  </div>
</div>
