---
import HeaderLink from '../HeaderLink.astro';
---

<nav class='space-x-5 text-xl hidden md:flex items-center justify-end'>
  <HeaderLink href='/' class='hover:text-cyan-600 hover:font-semibold'>
    Home
  </HeaderLink>
  <HeaderLink href='/projects' class='hover:text-cyan-600 hover:font-semibold'>
    Projects
  </HeaderLink>
  <HeaderLink href='/blog' class='hover:text-cyan-600 hover:font-semibold'>
    Blog
  </HeaderLink>
  <HeaderLink href='/about' class='hover:text-cyan-600 hover:font-semibold'>
    About
  </HeaderLink>
</nav>
