---
const { tags } = Astro.props;
const colors = [
  'cyan',
  'green',
  'purple',
  'amber',
  'sky',
  'rose',
  'fuchsia',
  'cyan',
  'green',
  'purple',
  'amber',
  'sky',
  'rose',
  'fuchsia',
];
---

<div>
  {
    tags &&
      tags.map((tag, index) => (
        <span class='text-sm mx-1' id={colors[index]}>
          {tag}
        </span>
      ))
  }
</div>
