---
const { tags } = Astro.props;
const colors = [
  'cyan',
  'green',
  'purple',
  'amber',
  'sky',
  'rose',
  'fuchsia',
  'cyan',
  'green',
  'purple',
  'amber',
  'sky',
  'rose',
  'fuchsia',
];
---

<div class='flex space-x-2'>
  {
    tags &&
      tags.map((tag, index) => (
        <p class='text-sm' id={colors[index]}>
          {tag}
        </p>
      ))
  }
</div>
