---
import Menu from '../components/nav/Menu'
import '../styles/global.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class='fixed bottom-0 left-0 z-50 hidden w-full bg-black md:block lg:h-4 xl:h-8'
    >
    </div>
    <div
      class='fixed top-0 left-0 z-50 hidden w-full bg-black md:block lg:h-4 xl:h-8'
    >
    </div>
    <div class='relative w-full max-w-screen-xl'>
      <main class='relative h-full bg-zinc-800'>
        <div class='h-full w-full px-4 md:px-6 lg:px-8 pb-28 md:pb-16'>
          <slot />
        </div>
      </main>
    </div>
    <Menu client:load />
  </body>
</html>
